[submodule "debian/jessie"]
	path = debian/jessie
	url = https://github.com/elnomade/dairyd-debian.git
	branch = jessie
[submodule "debian/stretch"]
	path = debian/stretch
	url = https://github.com/elnomade/dairyd-debian.git
[submodule "centos/8"]
	path = centos/8
	url = https://github.com/Y-Devops/dairyd-centos.git
	branch = 8
[submodule "centos/6"]
	path = centos/6
	url = https://github.com/Y-Devops/dairyd-centos.git
	branch = 6
[submodule "centos/7"]
	path = centos/7
	url = https://github.com/Y-Devops/dairyd-centos.git
