[submodule "centos/8"]
	path = centos/8
	url = https://github.com/Y-Devops/dairyd-centos.git
	branch = 8
[submodule "centos/6"]
	path = centos/6
	url = https://github.com/Y-Devops/dairyd-centos.git
	branch = 6
[submodule "centos/7"]
	path = centos/7
	url = https://github.com/Y-Devops/dairyd-centos.git
[submodule "ubuntu/eoan"]
	path = ubuntu/eoan
	url = https://github.com/Y-Devops/dairyd-ubuntu.git
[submodule "ubuntu/bionic"]
	path = ubuntu/bionic
	url = https://github.com/Y-Devops/dairyd-ubuntu.git
	branch = bionic
[submodule "ubuntu/focal"]
	path = ubuntu/focal
	url = https://github.com/Y-Devops/dairyd-ubuntu.git
	branch = focal
[submodule "ubuntu/trusty"]
	path = ubuntu/trusty
	url = https://github.com/Y-Devops/dairyd-ubuntu.git
	branch = trusty
[submodule "ubuntu/xenial"]
	path = ubuntu/xenial
	url = https://github.com/Y-Devops/dairyd-ubuntu.git
	branch = xenial
[submodule "debian/buster"]
	path = debian/buster
	url = https://github.com/Y-Devops/dairyd-debian.git
[submodule "debian/sid"]
	path = debian/sid
	url = https://github.com/Y-Devops/dairyd-debian.git
	branch = sid
[submodule "debian/jessie"]
	path = debian/jessie
	url = https://github.com/Y-Devops/dairyd-debian.git
	branch = jessie
[submodule "debian/stretch"]
	path = debian/stretch
	url = https://github.com/Y-Devops/dairyd-debian.git
	branch = stretch
[submodule "alpine/3.11"]
	path = alpine/3.11
	url = https://github.com/Y-Devops/dairyd-alpine.git
